.movie {
    display: flex;
    height: 281px;
    width: 454px;
    margin: 12px;
}
.movie-poster {
      flex-basis: 30%;
}
.movie__img {
    width: 183px;
}

.movie-content {
    display: block;
    overflow: hidden;

}
.movie-content__title {
    margin-left: 16px;
}

.movie-content__date {
    margin-left: 16px;
    color:lightgray;
}

.movie-content__genre {
    display: flex;    
    /* justify-content: space-around; */
}

.movie-content__genre-item {
    border: solid 1px lightgray;
    padding: 3px;
    padding-top: 0;
    padding-bottom: 1px;
    margin-left: 16px;
}

.movie-content__discription {
    margin-left: 16px;
    margin-top: 16px;
    display: block;
}